i>p{
    font-variant: small-caps;
    font-size: 20px;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 25px;
}
h2{
    color: white;
    text-shadow: 0px 0px 5px red;
}
body{
    text-align: center;
}
.red{
    color: red;
}
.blu{
    color: blue;
}
.grenn{
    color: green;
}